<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Select a GearLevel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Schaltung auswählen</h1>
<form action="#" th:action="@{/processGearLevelForm}" th:object="${checklist}" method="post">
    <div th:each="item : ${allItems}">
        <input type="radio" th:field="*{checkedItems}" th:value="${item}" />
        <label th:text="${item}">example</label>
    </div>

    <input type="submit" />
</form>
</body>
</html>